.left-col {
	background-color: #353941;
}

.title-row {
	background-color: #16181b;
}

.title-text {
	color: #90b8f8;
}

.radio {
	color: #dbd8e3;
	margin-right: 3;
}

.subtitle-text {
	color: #dbd8e3;
}

.map-title {
	background-color: #353941;
	color: #90b8f8;
}

.dropdown {
	background-color: #353941;
}